* {
  margin: 0;
  padding: 0;
  color: white;
}

a{
  color: white;
  text-decoration: none;
  font-family: sans-serif;
}
a:hover {
  background: rgba(0, 0, 0, .20);
}

body {
  background-image: linear-gradient(rgb(251, 113, 0), orange, black);
  color: white;
  width: 100%;

}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(0, 0, 0, .40);
    
}

.lista-menu-topo {
  display: flex;
  list-style: none;
  gap: 15px;
  font-weight: 600;
  letter-spacing: 1px;
  width: 100%;
  height: 100px;
  align-items: center;
}
.lista-menu-topo a {
  display: block;
}

#bt-mobile{
  display: none;
}
@media (max-width: 600px) {
  
  .lista-menu-topo {
    display: block;
    position: absolute;
    width: 100%;
    top: 100px;
    right: 0px;
    background: rgba(0, 0, 0, .40);
    height: 0px;
    transition: 1s;
    z-index: 1000;
    height: 0px;
    visibility: hidden;
    overflow-y: hidden;

  }
  #nav.active .lista-menu-topo {
    height: calc(100vh - 100px);
    visibility: visible;
    overflow-y: auto;

  }
  .lista-menu-topo a {
    padding: 16px;
    margin: 0 16px;
    border-bottom: 2px solid rgba(0,0, 0, .05);
  }
  #bt-mobile{
    display:flex;
    padding: 10px 10px;
    font-size: 16px;
    border: none;
    background: none;
    cursor: pointer;
    gap: 10px;
  }
  #hamburguer {
    border-top: 2px solid;
    width: 20px;
    color: white;
  }
  #hamburguer::after, #hamburguer::before {
  content: '';
  display: block;
  width: 20px;
  height: 2px;
  background: currentColor;
  margin-top: 5px;
  transition: 0.3s;
  position: relative;
}
#nav.active #hamburguer {
  border-top-color: transparent;
}
#nav.active #hamburguer::before {
  transform: rotate(135deg);
}
#nav.active #hamburguer::after {
  transform: rotate(-135deg);
  top: -7px;
}
}


.img-logo{
height: 100px;
width: 100px;
}

.img-konoha {
width: 100%;
background-image: url(../img/Naruto-konoha.png);
background-repeat: no-repeat;
}
.quadrados{
display: flex;
justify-content: space-around;
width: 100%;
}

.quadrados div {
  width: 350px;
  height: 615px;
  border-radius: 25px;
  color: white;
  padding: 5px;
  margin: 5px;
  border: 5px solid black;
}

.curiosidade01 {
background-image: linear-gradient(to right, brown, black, brown);
background-size: 500% 100%;
animation: degrade-animado1 5s infinite alternate;
}

.curiosidade02 {
background-image: linear-gradient(to right,purple,black,rgb(239, 94, 16),black);
background-size: 500% 100%;
animation: degrade-animado2 5s infinite alternate;
}

.curiosidade03 {
background-image: linear-gradient(to right, black, rgba(238, 10, 10, 0.3),purple,black);
background-size: 500% 100%;
animation: degrade-animado3 5s infinite alternate;
}

.img-curiosidade01 {
height: 50%;
width: 100%;
border-radius: 25px;
}

.img-curiosidade02 {
height: 50%;
width: 100%;
border-radius: 25px;
}

.img-curiosidade03 {
height: 50%;
width: 100%;
border-radius: 25px;
}

@keyframes degrade-animado1 { 
0%{
  background-position-x: 0%;
}
100%{
  background-position-x: 100%;
}
}

@keyframes degrade-animado2 { 
0%{
  background-position-x: 0%;
}
100%{
  background-position-x: 100%;
}
}

@keyframes degrade-animado3 { 
0%{
  background-position-x: 0%;
}
100%{
  background-position-x: 100%;
}
}

#video {
display: flex;
justify-content:center;
/* align-items: center; */
}

.menu-rodape{
color: white;
}

.circulos{
display: flex;
justify-content: space-evenly;
width: 100%;
height: 200px;
align-items: center;
}

